body,html{
    margin:0;
    padding:0;
    height: 100%;
    width:100%;
}
div{
    margin:0;
    padding:0;
}
#title{
    height: 25%;
    width:100%;
    background-color: green;
}
#main{
    height: 65%;
    width:100%;

}
.function{
    background-image:url(/img/纸张5.jpg);
    display: inline-block;
    height: 28%;
    width:49.5%;
}
#function1,#function2{
    margin-top:4px;
}
#function2,#function4,#function6{
    margin-left:1%;
}
a{
    display: inline-block;
    width:100%;
    height:100%;
    font-size:200%;
    text-align: center;
    
}